apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: savewise
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: aziz244/notification-service:1.0
          ports:
            - containerPort: 8006
