apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: savewise
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
    - port: 8006
      targetPort: 8006
