apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: savewise
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 8501         # Port inside cluster
      targetPort: 8501   # Port your container listens on
      nodePort: 30870    # Optional NodePort for Windows
