apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics-service
  namespace: savewise
spec:
  replicas: 1
  selector:
    matchLabels:
      app: analytics-service
  template:
    metadata:
      labels:
        app: analytics-service
    spec:
      containers:
        - name: analytics-service
          image: aziz244/analytics-service:1.0
          ports:
            - containerPort: 8005
